* { margin: 0; padding: 0;}
body { position: relative; }
#dd { height: 640px;
	 background: linear-gradient(to top, #304A69, #203954, #19282D 20%, #060315 40%);
	 color : red;}
#howMany { height: 200px; background-color: pink;}
#zom { position: absolute; bottom:50px; left: 2%; width: 100px; z-index:999}
#run { position: absolute; bottom:50px; left: 90%; width: 100px; z-index:999}

#distance { position: absolute; bottom:50px; width: 150px;}

#effectImg { position: fixed; top: 84px; left: 0; width: 100%; height:840px;
	opacity: 0.06;}
