#messageView { display:inline-block; width: 14em; height: 12em; 
		padding: 10px; font-size: 14px; color:black;
		overflow-y: auto; border-radius : 5px;
		background-color: #D2D2D2; z-index: 0}
#messageView hr { border: 1px solid #F2F2F2; margin-top: 2px; margin-bottom: 7px;}
#messageView .exception { line-height: 6em; font-size: 24px; }

@media (width: 1920px) {
	#messageView { width: 20em; height: 20em;}
	#messageView .exception { font-size: 32px; line-height: 8em; }
}