#dd {
	position:relative;
	height: 20em;
	color: red;
	padding: 20px;
}

#dd #countdown, #dd #endTime, #dd #nextMon {
	font-size: 40px;
	margin: 20px;
	padding: 10px;
}

#howMany {
	position:relative;
	height: 8em;
	background-color: pink;
}

#zom {
	position: absolute;
	bottom: 50px;
	width: 8%;
	z-index: 9999
}

#run {
	position: absolute;
	bottom: 50px;
	width:8%;
	z-index: 9999
}

#distance {
	position: absolute;
	bottom: 50px;
	width: 150px;
	font-size: 14px;
}

#effectImg {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 520px;
	opacity: 0.06;
}

#youInfo {
	position: absolute;
	bottom: 10px;
	display: inline-block;
	padding: 5px;
	width: 10%;
	text-align: center;
	color: white;
	background-color: #cf7756;
}

#youInfo:before {
	content: '';
	position: absolute;
	left: 40%;
	bottom: 30px;
	margin-left: -7px;
	border-bottom: 10px solid #cf7756;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

#target {
	position: absolute;
	bottom: 10px;
	left: 90%;
	display: inline-block;
	padding: 5px;
	width: 10%;
	text-align: center;
	color: white;
	background-color: #f3326c;
}

#target:before {
	content: '';
	position: absolute;
	left: 40%;
	bottom: 30px;
	margin-left: -7px;
	border-bottom: 10px solid #f3326c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

#message {
	position: absolute; top: 22%; left: 70%; z-index: 99999;
}

#national {
	position: absolute; top: 40%; left: 0;
	width: 55%;
	border: 0; z-index:40;
}

@media (width: 1920px ){
	#dd { height: 520px;}
	#howMany { height: 240px;}
	#target, #youInfo { width: 120px;}
	#national { top:26%; }
	#message { top: 30%; left: 70%; }
	#effectImg {top: 68px; height: 780px; }
}