#container {
	background-color : #F0F0F0;
	height: 480px;
	padding-left : 30px;
}

#container div { font-size: 14px;}

h2 { display: inline-block; margin: 10px; }

#summ { display: inline-block; box-sizing: border-box; width: 48%;}
#use { display: inline-block; box-sizing: border-box; width: 48%; height:480px; vertical-align:top}

hr { margin-top: 150px; margin-bottom : 10px; }

@media (width: 1920px) {
	#container { height: 800px; }
	hr { margin-top: 200px; }
}