#form {
	background-image: url('../img/mondaylike.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%, 100%;
	opacity: 0.4;
	height: 480px;
}

#form1 {
	height: 480px;
}

.sform {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-10em, -10em);
	width: 20em;
	height: 5em;
	font-size: 20px;
}

#setting {
	left: 30%;
	transform: translate(-250px, -200px);
}

#reset {
	left: 75%;
	transform: translate(-250px, -200px);
}

.sform fieldset {
	height: 15em;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px;
	padding-top: 40px
}

.sform legend {
	font-size: 30px;
	margin-left: 20px;
}

.sform input {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 14px;
	padding: 4px;
}

.sform input[type="submit"] {
	margin-top: 25px;
	padding: 15px;
	border: 0;
}

.sform select {
	margin-top: 10px;
	width: 100%;
	font-size: 18px;
	padding: 4px;
}

@media (width: 1920px) {
	#form, #form1 { height: 780px; }
	.sform { width: 22em; top: 45%; }
	.sform fieldset { height: 18em; }
	#reset { left: 70%; }
}